
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "width" 100;
}



.nav-bar {
    width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
   


}

header nav li{
    list-style: none;
}

.nav-side {
    width: 300px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}

.btn {
    width: 120px;
    height: 40px;
    background-color: rgb(255, 60, 0);
    color: white;
    outline: rgb(255, 60, 0);
    border: none;
}
.btn-1
{
  
     width: 120px;
    height: 40px;
    background-color: rgb(255, 60, 0);
    color: white;
    outline: rgb(255, 60, 0);
    border: none;
    border-radius: 2px;
}


.dev-img
{
    background-image: url('../images/header_bg.png');

    /* background-size: cover;
    background-position: center; */
    background-repeat: no-repeat;
    position: absolute;
}
.font-title
{
    font-weight: 800;
    font-size: 45px;
}
.header
{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    
    background-position: top left , bottom right;
      width: 1400px;
    height: 800px;
    margin: 0 auto;
 



}
.hero-sec
{
    display: flex;
    justify-content: space-between;
    margin: 0 120px 120px 160px;

}
.dev-information
{
    max-width: 500px;
    height: 356px;
}
.hero-img
{
    max-width: 560px;
    height: 620px;
}
/* about section */
.about-sec
{
        display: flex;
   

    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color:#FFF8F3;

    margin: 100px 280px;
    padding: 100px 0;
   
   

}
.about-sec-info
{
    background-color: white;
    width: 580px;
    height: 250px;
    justify-items: center;
    align-items: center;
     border: 1px solid black;
     padding: 0 20px;

}

.info-para
{
    font-size: x-small;
    color: gray;
    
}
.total-about-info
{
    display: flex;
    gap: 15px;
}
.about-info
{
    justify-items: center;
    align-items:center ;
}
.about-email
{
    font-weight: bold;
}
/* section what I do */
.section-do
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 750px;
    height: 80px;
    margin: 100px auto;

}
.info-do
{
    font-size: small;
    color: gray;
}
.card-info
{
    display: flex;
    gap: 30px;
    margin: 0 200px;
}

.card
{
  width: 280px;
  height: 310px;
  background-color: white;
 box-shadow: 0px 0px 8px rgba(191, 187, 187, 0.3);
}
/* summary sec */
.color-gray
{
    color: gray;
    font-weight:500;
    font-size: small;
}
.color-p-gray
{
    color: gray;
    
    font-size: smaller; 
}
.summary-sec
{
 display: flex;
 margin: 50px 300px;
 gap: 50px;
}
.btn-div
{
   margin: 20px 600px;
}
/* Footer */
footer
{
    background-color: #FFF8F3;
    height:600px;
}
.footer-container
{
    display: flex;

    justify-content: space-between;
    margin: 100px 200px;
    padding: 100px 0;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content:left;
    gap:15px;
  
}
.form input
{
  width: 250px;
  height: 35px;
  padding-left: 2px;
}
.form textarea
{
    height:100px;
     padding-left: 2px;
}
.footer-first-div
{
    width: 400px;
}